:root {
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  width: 100%;

  font-family: "Roboto Condensed", sans-serif;
}


.roboto-s {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.roboro-c {
  font-family: "Roboto Condensed", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
